<div class="main-page-container">
  <div class="header-container">
    <div id="header-logo">
      <h1>LOGO</h1>
    </div>
    <div class="header-title">
      <h1>HELLO</h1>
    </div>
    {{#if authorized}}
      <div class="header-user-avatar">
        <img id="avatar-photo" class="profile-avatar-photo" src="/not-available.png">
      </div>
    {{else}}
      <div class="header-login">
        <button id="enter" class="menu-btn menu-btn-success">Войти</button>
      </div>
    {{/if}}
  </div>
  {{#if authorized}}
    <div class="add-desk">
      <button id="add-desk-btn" class="menu-btn menu-btn-success">Create Desk</button>
    </div>
    <div class="user-desks-container">
      <div class="user-desks-title menu-textbox">USER DESKS</div>
      <div class="user-desks-grid">
        {{#each userDesks}}
          <div class="user-desk" id="{{this.id}}">
            {{this.name}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class="all-desks-container">
      <div class="all-desks-title menu-textbox">ALL DESKS</div>
      <div class="user-desks-grid">
        {{#each allDesks}}
          <div class="user-desk" id="{{this.id}}">
            {{this.name}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>