<div class="main">
  <div class="main-page-container">
    <div class="header-container">
      <div class="header-logo">
        {{!-- <img id="logo-photo" class="" src="/logo.png"> --}}
        <h1>LOGO</h1>
      </div>
      <div class="header-title">
        <h1>HELLO</h1>
      </div>
      {{#if authorized}}
        <div class="header-user-avatar">
          <img id="avatar-photo" class="profile-avatar-photo" src="/not-available.png">
        </div>
      {{else}}
        <div class="header-login">
          <button id="enter" class="menu-btn menu-btn-success">Войти</button>
        </div>
      {{/if}}
    </div>
    {{#if authorized}}
      <div class="add-desk">
        <button id="add-desk-btn" class="menu-btn menu-btn-success">Create Desk</button>
      </div>
      <div class="user-desks desks-container">
        <div class="container-title menu-textbox">USER DESKS</div>
        <div class="desks-grid">
          {{#each userDesks}}
            <div class="grid-desk" id="{{this.id}}">
              <div class="menu-textbox grid-desk-title">
                {{this.name}}
              </div>
              <div class="grid-desk-description">
                {{this.description}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="all-desks desks-container">
        <div class="container-title menu-textbox">ALL DESKS</div>
        <div class="desks-grid">
          {{#each allDesks}}
            <div class="grid-desk" id="{{this.id}}">
              <div class="menu-textbox grid-desk-title">
                {{this.name}}
              </div>
              <div class="grid-desk-description">
                {{this.description}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
